# Python
__pycache__/
*.py[cod]
*.pyo
.env
.env.local

.venv/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
.next/
.env.local
.env.production
npm-debug.log*

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Alembic
alembic/versions/*.pyc